<div [class]="theme" >
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    
    <mat-toolbar  color="primary" style="color:azure" >  
      <mat-toolbar-row>
        <span>First Row</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="color:azure">
      <mat-toolbar-row>
       <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"> <!– *ngIf= "isHandset$ | async" –>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
       </button>
      <span>Nair Essence International School</span>

      <button mat-icon-button>
         <mat-icon class="mat-icon material-icons ng-star-inserted" role="img" aria-hidden="true">account_circle</mat-icon>
      </button>

      <mat-form-field>
          <mat-select placeholder="Select Theme" [(ngModel)]="theme" >
            <mat-option value="themeGreen" >Green</mat-option>
            <mat-option value="themeYellow" >Yellow</mat-option>
            <mat-option value="themeBlue" >Blue</mat-option>
          </mat-select>
        </mat-form-field>

      </mat-toolbar-row>
    </mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>
</div>
