@import '~@angular/material/theming';
@include mat-core();

$indigo-app-primary: mat-palette($mat-deep-purple);
$pink-app-accent : mat-palette($mat-pink, A200, A100, A400);
$app-theme1  : mat-light-theme($indigo-app-primary, $pink-app-accent);
  

$yellow-app-primary: mat-palette($mat-yellow);
$yellow-app-accent : mat-palette($mat-grey,200);
$app-theme2  : mat-dark-theme($yellow-app-primary, $yellow-app-accent);

$green-app-primary: mat-palette($mat-green);
$green-app-accent : mat-palette($mat-red,200);
$app-theme3  : mat-light-theme($green-app-primary, $green-app-accent);

.themeBlue{
      @include angular-material-theme($app-theme1);  
}

.themeYellow{
      @include angular-material-theme($app-theme2);  
}

.themeGreen{
      @include angular-material-theme($app-theme3);  
}


